{% extends 'base.html' %}
{% load static %}
{% block title %}Заявки{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'application_list.css'%}">
{% endblock %}
{% block content %}
{% if is_main %}
<h1>Заявки</h1>
{% if application_list %}
<h2>Кол-во работ, находящихся в обработке: {{ count_of_load }}</h2>
<table class="table align-middle table-edge table-hover table-nowrap mb-0">
  <thead class="thead-light">
      <tr>
          <th>
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="name">
                  Название
              </a>
          </th>
          <th>
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="email">
                  Описание
              </a>
          </th>
          <th>
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="id">
                  Категория
              </a>
          </th>
          <th>
            
          </th>
          {% if user.is_staff %}
          <th>
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="status">
                  Имя пользователя
              </a>
          </th>
          {% endif %}
          <th class="w-150px min-w-150px">
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="status">
                  Дата создания
              </a>
          </th>
      </tr>
  </thead>
  <tbody class="list">
    {% for application in application_list %}
      <tr>
          <td>
              <div class="avatar avatar-circle avatar-xs me-2">
                  <img src="..{{ application.img.url }}" alt="..." class="avatar-img" width="30" height="30">
              </div>
          <span class="name fw-bold">{{ application.title }}</span>
          </td>
          <td class="email">{{ application.desc }}</td>
          <td class="category">{{ application.get_category_display }}</td>
          <td class="status">{{ application.get_status_display }}<span class="legend-circle bg-success"></span></td>
          {% if user.is_staff %}
            <td class="name fw-bold">{{ application.user.get_username }}</td>
          {% endif %}
          <td class="date" data-signed="1648252800">03.26.2022</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endif %}
{% else %}
{% if request.user.is_authenticated %}

<h1>Заявки</h1>
{% if request.user.is_authenticated %}
<a href="{% url 'profile_applications_create' %}">Создать заявку</a>
<div>
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая страница</a>
  {% else %}
    <a href="#">Предыдущая страница</a>
  {% endif %}
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Следуюшая страница</a>
  {% else %}
    <a href="#">Следуюшая страница</a>
  {% endif %}
</div>
{% endif %}
<h3>Сортировка по статусу:</h3>
<form action="{% url 'profile_applications' %}" method="get">
    <input type="submit" name="orderby" value="Все">
    <input type="submit" name="orderby" value="Новая">
    <input type="submit" name="orderby" value="Принято в работу">
    <input type="submit" name="orderby" value="Выполнено">
</form><br>
{% if application_list %}
<table class="table align-middle table-edge table-hover table-nowrap mb-0">
  <thead class="thead-light">
      <tr>
          <th>
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="name">
                  Название
              </a>
          </th>
          <th>
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="email">
                  Описание
              </a>
          </th>
          <th>
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="id">
                  Категория
              </a>
          </th>
          <th>
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="date">
                  Статус
              </a>
          </th>
          {% if user.is_staff %}
          <th>
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="status">
                  Имя пользователя
              </a>
          </th>
          {% endif %}
          <th class="w-150px min-w-150px">
              <a href="javascript: void(0);" class="text-muted list-sort" data-sort="status">
                  Дата создания
              </a>
          </th>
          <th class="w-150px min-w-150px">
            <a href="javascript: void(0);" class="text-muted list-sort" data-sort="status">
                Удалить заявку
            </a>
        </th>
      </tr>
  </thead>
  <tbody class="list">
    {% for application in application_list %}
      <tr>
          <td>
              <div class="avatar avatar-circle avatar-xs me-2">
                  <img src="..{{ application.img.url }}" alt="..." class="avatar-img" width="30" height="30">
              </div>
          <a class="name fw-bold" href="{{ application.get_absolute_url }}">{{ application.title }}</a>
          </td>
          <td class="email">{{ application.desc }}</td>
          <td class="category">{{ application.get_category_display }}</td>
          <td class="status">{{ application.get_status_display }}<span class="legend-circle bg-success"></span></td>
          {% if user.is_staff %}
            <td class="name fw-bold">{{ application.user.get_username }}</td>
          {% endif %}
          <td class="date" data-signed="1648252800">03.26.2022</td>
          <td class="date"><a href="{% url 'profile_application_delete' application.id %}">Удалить</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endif %}
{% else %}
<div class="block__footer">
  <h1>Чтобы просмотреть заявки вам нужно авторизироваться.</h1>
  <button><a href="{% url 'login'%}">Войти</a></button>
</div>
{% endif %}
{% endif %}

{%endblock%}
