{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'about.css'%}">
{% endblock %}
{% block content %}
    <div class="block">
        <div class="block__content">
            <h1>О нас</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minima impedit pariatur eligendi,
                explicabo rem blanditiis assumenda labore excepturi corporis officia ea deleniti dolorem soluta
                minus esse dolorum quia! Mollitia atque omnis provident aliquid maxime laboriosam quisquam,
                molestiae corrupti harum?</p>
        </div>
    </div>    
{% endblock %}